@use 'vars';
@use 'helpers';

.icon-btn {
  display: flex;
  align-items: stretch;
  background-image: none;
  background-color: vars.$secondary;
  border: none;
  padding: 0;
  border-bottom-left-radius: 0.5rem;
  position: relative;
  color: vars.$text;
  max-width: max-content;

  &__text {
    align-self: center;
    position: relative;
    padding: 1rem;
    @include helpers.media-query(md) {
      margin-right: 1rem;
      padding: 1rem 1.5em;
    }
  }

  &__icon {
    background-color: vars.$primary;
    color: vars.$secondary;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  }
  &:hover {
    background-color: nth(vars.$blues, 2);
    color: vars.$secondary;
  }
}

.decoration-two-boxes {
  width: 4.5rem;
  min-height: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  column-gap: 0.5rem;

  &>*:nth-child(odd){
    background-color: vars.$primary;
  }
  &>*:nth-child(even){
    background-color: vars.$secondary;
  }
}
