@use 'vars';
@use 'sass:math';

body {
  color: vars.$text !important;
}

a {
  text-decoration: none !important;
}

img {
  object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


.btn {
  &.btn-secondary {
    color: vars.$dark;
  }

  &.btn-primary,
  &.btn-outline-primary:hover {
    color: vars.$secondary !important;
  }
}

.text {
  color: vars.$text !important;
}

.text-dark-blue {
  color: nth(vars.$blues, 4);
}

.w-fit {
  width: fit-content !important;
}

.content-box {
  box-sizing: content-box;
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}

@each $vertex in ("top-left", "top-right", "bottom-left", "bottom-right") {
  .rounded-#{$vertex} {
    border-#{$vertex}-radius: 0.25rem !important;
  }
}

@each $opacity in (0, 25, 50, 75, 100) {
  .alpha-#{$opacity} {
    opacity: math.div($opacity, 100);
  }
}
